@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#page-container {
    padding-top: 100px;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

body {
    min-height: 100%;
    height: 100% !important;
    margin: 0 auto -540px;
    background-color: #1F391C !important;
    background: url(/images/background.jpg) repeat-x;
    min-width: 960px;
}

a {
    display: inline;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #fff;
}

.header {
    clear: both;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow: hidden;
    background-color: #001200ad;
}

.Privacy {
    width: 50%;
    margin: auto;
    padding: 50px;
}

.Privacy>h3 {
    text-align: center;
    font-size: 50px;
}

.Privacy>h2 {
    text-align: left;
    font-size: 40px!important;
}

.Privacy>p {
    text-align: justify;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header img.logo {
    width: 120px;
    height: 50px;
}

.header a:hover {
    background-color: rgb(25, 82, 42);
    color: rgb(255, 255, 255);
}

.header a.active {
    background-color: rgb(16, 148, 49);
    color: white;
}

.header-left {
    float: left;
    align-items: center;
    padding-top: 15px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.fixed {
    margin-left: auto;
    margin-right: auto;
}

.fixed p,
h1 {
    text-align: center;
    word-wrap: break-word;
    padding: 15px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #001200;
}

body::-webkit-scrollbar-thumb {
    background-color: #163600;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

.info {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    display: flex;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#description {
    height: 200px;
}

.thanks {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gellaryImg {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gellaryImg img {
    width: 100%;
    height: 600px;
}

#imgblock {
    display: block;
    width: 440px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    height: 10%;
    padding: 10px;
}

.intro {
    text-align: justify;
    left: 0px;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 65%;
    padding-left: 135px;
    padding-right: 135px;
}

h1 {
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 50px !important;
}

img.serviceImg {
    padding: 10px;
    margin-right: auto;
    margin-left: 20px;
    display: block;
    width: 200px;
    height: 300px;
}

ul {
    margin-left: 50px;
}

.cvtable {
    text-align: center;
}

li,
h2,
h3,
p,
h1,
a,
td,
th,
label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.aboutusP {
    padding-left: 7px;
}

@media screen and (min-width: 601px) {
    .aboutusP {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .aboutusP {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .cvtable {
        display: block;
        float: left;
        width: 100%
    }
}

.footer {
    clear: both;
    position: fixed;
    margin-top: 10px;
    width: 100%;
    background-color: #001200;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.link {
    text-align: center;
}

.leftarrow {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
}

.rightarrow {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
}

.leftarrow:hover {
    background-color: rgb(25, 82, 42);
}

.rightarrow:hover {
    background-color: rgb(25, 82, 42);
}

.thumbs {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 50px;
}

.thumbs li {
    height: 10%;
    width: 12%;
    padding: 5px;
    background-color: rgb(37 157 57);
    margin: 1%;
    box-shadow: 1px 1px 5px 2px rgb(79, 121, 96);
    cursor: pointer;
}

.thumbs li img {
    width: 100%;
    height: 150px;
}

.vidClass {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 50%;
    border: 1px solid rgb(25, 82, 42);
}