#KOKOTableDesign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 2px solid white;
}

#KOKOTableDesign th {
    padding: 10px !important;
    background-color: #12580bd5;
}

caption {
    caption-side: bottom;
    text-align: center;
    color: #ddd;
}

#KOKOTableDesign td,
#KOKOTableDesign th {
    border: 1px solid #ddd;
    padding: 20px;
}

#KOKOTableDesign tr:hover {
    background-color: rgba(255, 255, 255, 0.377);
    color: #ddd;
}

#KOKOTableDesign tr:nth-child(even) {
    background-color: #044b16;
}